/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    height: 100%;
    background-image: url(../img/bg.jpg);
}
   
   /* Support button
    ========================================================================== */

.support-button {
    position: fixed;
    top: 75px;
    left: 0;    
    width: 48px;
    height: 163px;
    padding-top:7px;
    margin-left:-10px;      
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;      
    background: #79c200; 
    background: -moz-linear-gradient(left, #79c200, #439b00); 
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#79c200), color-stop(100%,#439b00));
    background: -webkit-linear-gradient(left, #79c200, #439b00);
    background: -o-linear-gradient(left, #79c200, #439b00); 
    background: -ms-linear-gradient(left, #79c200, #439b00); 
    background: linear-gradient(left, #79c200, #439b00); 
    transition: width .2s;
    cursor: pointer;
}

.support-button-hidden {
    width: 0;
}
.support-button:hover {
    width: 58px;
}

.support-button img {
    position:absolute;
    top: 13px;
    right: 12px
}

.rotated-text {
    position: absolute;
    top:64px;
    right:-50px;
    width:140px;
    height:20px;
    color:#fff;
    font-size:14px;
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}

/* Support window
    ========================================================================== */

.support-window {
    position: fixed;
    top: 100px;
    left: 50%;
    display: none;
    width: 440px;
    padding-bottom: 10px;
    margin-left: -220px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #3f9200; 
    background-image: -moz-linear-gradient(#a2cf0e, #3f9200 8%, transparent 92%, #5da502);
    background-image: -o-linear-gradient(#a2cf0e, #3f9200 8%, transparent 92%, #5da502);
    background-image: -webkit-linear-gradient(#a2cf0e, #3f9200 8%, transparent 92%, #5da502);
    background-image: -ms-linear-gradient(#a2cf0e, #3f9200 8%, transparent 92%, #5da502);
}

.support-window:after {
    position: absolute;
    bottom: -20px; 
    left: 390px;       
    display: block;
    height: 0;
    width: 0;
    border-bottom: 20px solid transparent;
    border-left: 0 solid transparent;
    border-right: 20px solid #68AB03;    
    line-height: 0; 
    content: '';  
}

.support-window__header__title {
    margin: 5px 0 10px 10px;
    color: #fff;
    font-size: 14px;
    font-style: italic;
}

.cross-mark {
    color: #387f01;
    text-shadow: 0 1px 1px #acd526;
}

.support-window__header img {
    margin-right: 5px;
}

.support-window__content {
    width: 410px;
    padding: 10px;    
    margin-left: 5px;    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
}

    /* Chatting
    ========================================================================== */

.support-window__content__chat {
    /*display: none;*/
}

.support-window__content__chat__history {
    overflow: auto;
    height: 220px;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.support-window__content__chat__input {
    margin-bottom: 10px;
}

.adding-files {
    display: inline-block;
    padding-left: 0;
    border-bottom: 1px dotted;    
    background: none repeat scroll 0 0 transparent;
    color: #397da8;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.message-support__header {
    color: #3f9200;
    font-size: 11px;
    line-height: 20px;
}

.message-user__header {
    color: #7a7e80;
    font-size: 11px;
    line-height: 20px;
}

.message-support,
.message-user {
    margin-bottom: 10px;
    font: 14px Arial, sans-serif;
}

.support-window__content__chat__footer {
    padding-bottom: 10px;
}

.message-input {
    overflow: hidden;
    width: 392px;
    height: 64px;
    resize: none;
    padding: 8px;    
    font: 14px/20px Arial;
    outline: 0;
}

.include-file {
    padding-left: 22px;
    background: url("../img/clip.gif") no-repeat;
    color: #1A699B;
    font: 13px Arial;
    text-decoration: underline;
}

.include-file:hover {
    color: #60afe2;
}

.nested-file { 
    display: inline-block;       
    width: 70px;
    height: 20px;
    border-bottom: none;
    margin-left: 20px;
    background-color: #e3eaf0;    
    color: black;    
    font-size: 12px; 
    text-align: center;   
    text-decoration: none;
    cursor: pointer;
}

.nested-file:hover {
    background-color: #f6e3e0;
}

.icon-close {
    line-height: 20px;
    font-size: 8px;
}

.nested-file:hover .icon-close {
    color: red;
}

/* Sending email
    ========================================================================== */

.support-window__content__sending-email{
    display: none;
    padding: 0 5px 10px 10px;
}

.input-email {
    float: left;
    width: 264px;
    height: 30px;
    padding: 0 5px;
    margin-right: 5px;
    font-style: italic;
    font-size: 14px;
}

/* Buttons
    ========================================================================== */

.button-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 120px;
    height: 24px;
    border: 1px solid #94c33f;
    border-top-color: #f1ff45;
    box-shadow: 0 0 0 1px #387f01;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #469701; 
    background: -moz-linear-gradient(top, #99c90d, #469701); 
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#99c90d), color-stop(100%,#469701));
    background: -webkit-linear-gradient(top, #99c90d, #469701);
    background: -o-linear-gradient(top, #99c90d, #469701); 
    background: -ms-linear-gradient(top, #99c90d, #469701); 
    background: linear-gradient(top, #99c90d, #469701);
    background-image: url(../img/close.gif) no-repeat;
    color: #fff;
    font-size: 12px;    
}

.button-close:hover {
    background: -moz-linear-gradient(top, #bae013, #65b803); 
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#bae013), color-stop(100%,#65b803));
    background: -webkit-linear-gradient(top, #bae013, #65b803);
    background: -o-linear-gradient(top, #bae013, #65b803); 
    background: -ms-linear-gradient(top, #bae013, #65b803); 
    background: linear-gradient(top, #bae013, #65b803);
}

.button-send {    
    /* display: inline; */
    float: right;
    width: 110px;
    height: 32px;
    border: 1px solid #707171;    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #d8d8d8; 
    background: -moz-linear-gradient(top, #f0f0f0 50%, #d8d8d8 50%); 
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#f0f0f0), color-stop(100%,#d8d8d8 50%));
    background: -webkit-linear-gradient(top, #f0f0f0 50%, #d8d8d8 50%);
    background: -o-linear-gradient(top, #f0f0f0 50%, #d8d8d8 50%); 
    background: -ms-linear-gradient(top, #f0f0f0 50%, #d8d8d8 50%); 
    background: linear-gradient(top, #f0f0f0 50%, #d8d8d8 50%);
    font-size: 14px;    
}

.button-send:hover {
    background: #ededed; 
    background: -moz-linear-gradient(top, #f7f7f7 50%, #ededed 50%); 
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#f7f7f7), color-stop(100%,#ededed 50%));
    background: -webkit-linear-gradient(top, #f7f7f7 50%, #ededed 50%);
    background: -o-linear-gradient(top, #f7f7f7 50%, #ededed 50%); 
    background: -ms-linear-gradient(top, #f7f7f7 50%, #ededed 50%); 
    background: linear-gradient(top, #f7f7f7 50%, #ededed 50%);    
}

.button-send-email {
    float: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
